@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.start {
  padding-top: 40px;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &_inner {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 20px;

    @media (min-width: 440px) {
      width: 440px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      width: 700px;
      margin-top: 30px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.btn_wrapper {
  width: 200px;
  height: 140px;
  border: 1px solid $color-yellow;
  border-radius: 5px;

  & button {
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: $font-display;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    background-color: $color-yellow;
    transition: all 0.3 ease;

    &:hover {
      background-color: $color-yellow-light;
    }
  }
}
