@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.result {
}

.result_inner {
  padding-top: 30px;
}

.board {
  margin: 10px auto;
  min-width: 100vw;
  min-height: 300px;
  position: relative;
  text-align: center;
  //   padding: 30px;

  @media (min-width: 500px) {
    margin: 30px auto;
    min-width: 330px;
    min-height: 340px;
  }

  @include sm {
    margin: 50px auto;
    min-height: 600px;
    margin-bottom: 140px;
  }

  & p {
    font-size: 16px;
    line-height: 1.2;
    @media (min-width: 500px) {
      font-size: 22px;
      line-height: 1.5;
    }
  }
}

.num {
  &_box {
    backdrop-filter: blur(10px);
    padding: 4px;
    border-radius: 10px;
    z-index: 10000;
    color: #fff;
    width: fit-content;
    transform: translateY(60px);
    margin: 0 auto;

    @media (min-width: 500px) {
      padding: 10px;
      backdrop-filter: invert(80%) blur(10px);
    }

    @include sm {
      position: absolute;
      padding: 20px;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}
