@use "./variables.scss" as *;

.main {
  font-family: $font-text;
}

.main_wrapper {
  background-color: $color-light-stone;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
