$font-text: "Roboto";
$font-display: "Barlow Condensed";

$color-yellow: #f59e0b;
$color-yellow-light: #fbbf24;
$color-dark-orange: #7c2d12;
$color-light-stone: #e7e5e4;
$color-green: #047857;
$color-green-light: #059669;
$color-stone: #0c0a09;
$color-pink: #f87171;
$color-purple: #e879f9;
