@use "../../styles/variables.scss" as *;
.home_page {
  padding-top: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: $font-display;
  color: $color-stone;
  @media (min-width: 660px) {
    padding-top: 60px;
  }
}

.iframe_wrapper {
  height: 200px;
  width: 300px;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  @media (min-width: 440px) {
    height: 300px;
    width: 400px;
  }
  @media (min-width: 660px) {
    frame_wrapper {
      height: 400px;
      width: 600px;
    }
  }
}
