@use "../../styles/variables.scss" as *;
.home_page {
  padding-top: 60px;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: $font-display;
  color: $color-stone;
}

.iframe_wrapper {
  height: 400px;
  width: 600px;
  position: relative;
  z-index: 0;
}
