@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.header {
  min-height: 100px;
  height: 160px;
  background-color: $color-yellow;
  color: #fff;
  font-family: $font-display;

  &_inner {
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    @include sm {
    }
  }
}

.header h1 {
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 800;
}
