@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;
.error {
  width: 100%;
  min-height: 100vh;
  background-color: $color-light-stone;

  &_inner {
    height: 100%;
    display: flex;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;

    & p {
      font-family: $font-display;
      font-size: 30px;
      font-weight: 800;
      margin: 0 auto;
      text-align: center;

      @include sm {
        font-size: 56px;
      }
    }
  }
}
